.skills {
    background: var(--background-first);
    overflow-x: hidden;
}

.skills__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 708px;
    height: 47px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.15);
    margin-bottom: 74px;
}

.skills__wrapper-title {
    color: var(--color);
    margin-left: 10px;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.skills__wrapper-firstOval {
    width: 411px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #000;
    background: #DECECE;
}

.skills__wrapper-firstBlueOval {
    width: 231px;
    height: 11px;
    border-radius: 12px;
    background: #2667C9;
}

.skills__wrapper-secondBlueOval {
    width: 146px;
    height: 11px;
    border-radius: 12px;
    background: #2667C9;
}

.skills__wrapper-thirdBlueOval {
    width: 108px;
    height: 11px;
    border-radius: 12px;
    background: #2667C9;
}

.skills__wrapper-forthBlueOval {
    width: 206px;
    height: 11px;
    border-radius: 12px;
    background: #2667C9;
}

.skills__wrapper-fifthBlueOval {
    width: 136px;
    height: 11px;
    border-radius: 12px;
    background: #2667C9;
}

.skills__wrapper-sixthBlueOval {
    width: 174px;
    height: 11px;
    border-radius: 12px;
    background: #2667C9;
}

@media (max-width: 834px) {
    .skills__wrapper {
        width: 608px;
    }
}

@media (max-width: 700px) {
    .skills__wrapper {
        width: 508px;
    }
    
    .skills__wrapper-firstOval {
        width: 311px;
    }
    
    .skills__wrapper-firstBlueOval {
        width: 181px;
    }
    
    .skills__wrapper-secondBlueOval {
        width: 116px;
    }
    
    .skills__wrapper-thirdBlueOval {
        width: 78px;
    }
    
    .skills__wrapper-forthBlueOval {
        width: 176px;
    }
    
    .skills__wrapper-fifthBlueOval {
        width: 106px;
    }
    
    .skills__wrapper-sixthBlueOval {
        width: 134px;
    }
}

@media (max-width: 550px) {
    .skills__wrapper-title {
        font-size: 14px;
    }
    .skills__wrapper {
        width: 308px;
    }
    
    .skills__wrapper-firstOval {
        width: 211px;
    }
    
    .skills__wrapper-firstBlueOval {
        width: 122px;
    }
    
    .skills__wrapper-secondBlueOval {
        width: 68px;
    }
    
    .skills__wrapper-thirdBlueOval {
        width: 54px;
    }
    
    .skills__wrapper-forthBlueOval {
        width: 99px;
    }
    
    .skills__wrapper-fifthBlueOval {
        width: 78px;
    }
    
    .skills__wrapper-sixthBlueOval {
        width: 91px;
    }
}

@media (max-width: 350px) {
    .skills__wrapper {
        width: 258px;
    }
    
    .skills__wrapper-firstOval {
        width: 151px;
    }
    
    .skills__wrapper-firstBlueOval {
        width: 82px;
    }
    
    .skills__wrapper-secondBlueOval {
        width: 48px;
    }
    
    .skills__wrapper-thirdBlueOval {
        width: 34px;
    }
    
    .skills__wrapper-forthBlueOval {
        width: 69px;
    }
    
    .skills__wrapper-fifthBlueOval {
        width: 48px;
    }
    
    .skills__wrapper-sixthBlueOval {
        width: 51px;
    }
}