.general {
    background: var(--background-second);
    overflow-x: hidden;
    
}

.general__title {
    padding-top: 87px;
    color: var(--color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 117px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.cards__first {
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 95px;
}

@media (max-width: 840px) {
    .cards__first {
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .general__title {
        font-size: 24px;
    }
}
