.header {
    background-color: var(--background-first);
    overflow-x: hidden;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    width:380px;
    height: 177px;
    color: var(--color);
    font-family: var(--font-family);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 93px;
    margin-top: 85px;
    margin-bottom: 180px;
    
}

.header__img {
    margin-bottom: 162px;
}

.header__email {
    color: var(--color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    padding-left: 97px;
    
}

.header__information {
    margin-top: 192px;
}

.header__develop {
    width: 410px;
    height: 145px;
    color: var(--color);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: var(--font-family);
    padding-right: 71px;
    margin-bottom: 55px;
}

.header__collage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 71px;
}

.header__collage-img {
    margin-bottom: 20px;
}

.header__collage-title {
    color: var(--color);
    text-align: center;
    font-family: var(--font-family);
    width: 165px;
    height: 44px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 1200px) {
    .header__info {
        width: 330px;
    }
    
    
    .header__title {
        width:350px;
        font-size: 50px;
    }
    
    .header__develop {
        width: 440px;
        font-size: 36px;
    }
    
    .header__img-photo {
        width: 420px;
    }
}

@media (max-width: 1100px) {
    .header__title {
        width:300px;
        height: 177px;
        font-size: 48px;
        margin-bottom: 100px;
        margin-top: 30px;
    }
    
    .header__develop {
        width: 460px;
        height: 145px;
        font-size: 36px;
    }
    
    .header__img-photo {
        width: 380px;
    }
}

@media (max-width: 1040px) {
    .header__title {
        width:300px;
        height: 177px;
        font-size: 48px;
        margin-bottom: 80px;
    }
    
    .header__develop {
        width:460px;
        height: 145px;
        font-size: 36px;
    }
    
    .header__img-photo {
        width: 300px;
    }
}

@media (max-width: 940px) {
    .header__wrapper {
        flex-direction: column;
    }
    
    .header__email {
        display: none;
    }
    .header__title {
        width:340px;
        height: 177px;
        font-size: 60px;
        padding-left: 0;
        text-align: center;
    }
    
    .header__img {
        margin-bottom: 0;
    }
    
    .header__information {
        padding-bottom: 122px;
    }
    
    .header__collage {
        padding-right: 0;
    }
    
    .header__develop {
        padding-right: 0;
        width:400px;
    }
}

@media (max-width: 450px) {
    .header__title {
        font-size: 32px;
    }
    
    .header__information {
        margin-top: 90px;
        padding-bottom: 122px;
    }
    .header__develop {
        font-size: 24px;
        padding-right: 0;
        margin-bottom: 0;
        width:400px;
    }
    .header__img-photo {
        width: 250px;
        height: 400px;
    }
    
    .header__info {
        height: 200px;
    }
}

@media (max-width: 320px) {
    .header__develop {
        font-size: 24px;
        padding-right: 0;
        margin-bottom: 0;
        width:200px;
    }
    .header__img-photo {
        width: 200px;
        height: 350px;
    }
    
    .header__info {
        height: 200px;
    }
}