html[data-theme="dark"] {
    --color: #FFF;
    --background-first: rgba(24, 23, 23, 0.80);
    --background-second: rgba(0, 0, 0, 0.80);
}

html[data-theme="light"] {
    --color: #000;
    --background-first: rgba(0, 0, 0, 0.15);
    --background-second: rgba(0, 0, 0, 0.30);
}

.details {
    background-color: var(--background-first);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.details__title {
    margin-top: 110px;
    margin-bottom: 73px;
    color: var(--color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.details__text {
    width: 867px;
    height: 71px;
    margin-bottom: 92px;
}

.details__second-title {
    margin-bottom: 73px;
}

.details__screenshots-title {
    margin-top: 70px;
    margin-bottom: 24px;
}

.details__text,
.details__second-title,
.details__screenshots-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.details__screenshots-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

