:root {
  --font-family: Inria Sans, sans-serif;
  
}

html[data-theme="dark"] {
  --color: #FFF;
  --background-first: rgba(24, 23, 23, 0.80);
  --background-second: rgba(0, 0, 0, 0.80);
}

html[data-theme="light"] {
  --color: #000;
  --background-first: rgba(0, 0, 0, 0.15);
  --background-second: rgba(0, 0, 0, 0.30);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}